
#bso h1 {
    color: pink;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#bso li {
    color: pink;
}

#bso .padder {
    padding-top: 4em;
    padding-bottom: 1em;
    color: pink;
}

#bso .thumbnail {
    margin: 0.5em;
    width: 5.5em;
}

img {
    width: 100%;
}

.nav-link {
    color: pink;
}

.nav-link:hover {
    color: rgb(255, 148, 166);
}

#result {
    margin-top: 1em;
}
#result a{
    color: pink;
}

#result a:hover {
    color: rgb(255, 148, 166);
}